<launch>

	<node name="aruco_tracker" pkg="cv_sens" type="trak_marker" output="screen" clear_params="true">
		<rosparam command="load" file="$(find cv_sens)/launch/marker_hover.yaml" />
		<param name="marker_size" value="0.56"/>
		<remap from="image" to="/mv_26804182/image_raw" />
		<remap from="camera_info" to="/mv_26804182/camera_info" />
		<remap from="marker_pose" to="/aruco_single/pose"/>
		<remap from="waypoint" to="/mavros/setpoint_position/local"/>
    	</node>
</launch>
